// Frameworks
@import "bourbon/bourbon";

// Custom partials
@import "resets";
@import "vars";

%clearfix:after {
	content: "";
    display: table;
    clear: both;
}

@import url(http://fonts.googleapis.com/css?family=Lora:400italic);


html, body {
	height: 100%;
}

body {
	background-color: rgb(204, 193, 232);
	background-image: url(../images/lavender-bg-left.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	font-family: 'Lucida Grande', 'Ludida Sans', 'Lucida Sans Unicode', sans-serif;
	font-size: 100%;
	line-height: 1.6em;
}

h2 {
	margin-top: $pad;
}

a {
	color: rgb(107, 74, 159);
	&:hover {
		color: lighten(rgb(107, 74, 159), 20%);
	}
}

h3 {
	font-family: Lora, Georgia, serif;
	font-weight: normal;
	font-style: italic;
	text-transform: capitalize;
	color: rgb(72, 47, 105);
	font-size: 29px;
}

h4 {
	font-family: 'Lucida Grande', 'Ludida Sans', 'Lucida Sans Unicode', sans-serif;
	font-style: normal;
	text-transform: capitalize;
	color: rgb(233, 213, 254);
	font-size: 29px;
}

#logo {
	margin-top: 20px;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: rgb(72, 47, 105);
	max-width: 265px;
	border: solid 5px #6b4a9f;
	border-top: none;
	border-bottom: none;
	margin-left: 40px;
}

.alignleft {
	float: left;
	margin-right: $pad;
}

.alignright {
	float: right;
	margin-left: $pad;
}

.slides img {
	max-height: 300px;
}

.slide {
	position: relative;
	.banner-excerpt {
		font-family: Lora, Georgia, serif;
		font-style: italic;
		text-shadow: 0 -1px #000;
		position: absolute;
		bottom: $pad;
		right: 0;
		background-color: rgba(72, 47, 105, .6);
		padding: $pad/2;
		font-size: 24pt;
		line-height: 24pt;
		color: #fff;
		max-width: 50%;
		text-align: right;
		pointer-events: none;
	}
}

[role="main"] {
	padding-left: 335px;
	padding-right: $pad;
	min-height: 100%;
	margin-bottom: -30px;
	padding-bottom: 30px;
	
	.page-title {
		background-image: url(../images/header-bg.jpg);
		background-repeat: no-repeat;
		background-position: left top;
		background-color: rgb(174, 156, 214);
		position: relative;
		margin-left: -$pad;
		padding-left: $pad;
		margin-right: -$pad;
		padding-right: $pad;
		height: 66px;
		line-height: 66px;
		color: #fff;
		font-family: Lora, Georgia, serif;
		font-style: italic;
		text-transform: capitalize;
		color: rgb(233, 213, 254);
		font-size: 29px;
		margin-top: 0;
		margin-bottom: $pad;
	}
}

.left-widget-area {
	padding: 25px;
	padding-bottom: 0;
	
	.widget-title {
		color: rgb(233, 213, 254);
	}
	p, span {
		color: #fff;
	}
}

.right-widget-area {

	.product_list_widget > li {
		border-top: solid thin rgb(174, 156, 214);
		padding: $pad/2 0;
		&:first-of-type {
			border-top: none;
		}
	}
}

.widget-title {
	color: #482f69;
	font-size: 24px;
	line-height: 24px;
}

#main-menu {
	margin: 0 25px;
	padding: 5px 0;
	border-top: solid thin #935987;
	border-bottom: solid thin #935987;

	> li {
		line-height: 1em;
		position: relative;
		margin-right: -25px;

		a {
			color: rgb(204, 193, 232);
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: .03em;
			line-height: 22px;
			height: 22px;
			display: block;
			padding-left: 5px;
		}
		&:hover {
			> a { color: #fff; }
		}
		&.current-menu-item, &.current_page_parent {
			background-color: #6b4a9f;
			> a { color: #fff; }
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-width: 10px;
				border-style: solid;
				border-color: transparent;
				border-left-color: #6b4a9f;
				position: absolute;
				margin-top: -10px;
				top: 50%;
				right: -25px;
			}
		}
	}
}

.module {
	background-color: #fff;
	padding: $pad/2;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(black, 0.3);
	margin-bottom: $pad;
}

footer {
	position: relative;

	#copyright {
		position: absolute;
		right: $pad;
	}
}

.masonry ul.products {

	> li.product {
		background-color: #fff;
		padding: $pad/2 !important;
		box-shadow: 0 0 4px rgba(black, 0.3);
		margin: 0;
		margin-bottom: 20px;
	}
}

.related.products {
	.products {
		margin-top: $pad;
		.product {
			max-width: 200px;
		}
	}
}

.page-title .menu-shopping-cart-container {
	position: absolute;
	top: 0;
	right: 0;
}

#shopping-cart-menu {
	padding-top: $pad/2;
	padding-right: $pad/2;

	.shopping-cart {

		> a {
			text-indent: -999em;
			width: 25px;
			height: 25px;
			display: block;
			position: relative;
			font-family: "Ionicons";
			background-color: rgb(233, 213, 254);
			border-radius: 4px;
			font-style: normal;
			font-weight: normal;

			&:before {
				content: "\f167";
				text-indent: 0;
				position: absolute;
				left: 0;
				top: 0;
				line-height: 25px;
				width: 25px;
				text-align: center;
				display: block;
				font-size: 18px;
			}
			&:hover {
				background-color: #fff;
			}
		}
	}
}

.article-title {
	padding-bottom: $pad/2;
	> a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.sorting {
	@extend %clearfix;
}

@import "shame";